@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        This project developed using Blazor, .NET, and SQL Server, utilizes HTML, CSS, and C# for the entire
        development. The project consists of two separate sections: one for users and the other for
        administrators.
        <br />
        For the User:
        <br />
        • The user can log in or register to create an account.
        <br />
        • They can add, update, and manage their personal addresses.
        <br />
        • They can add products to their shopping cart.
        <br />
        • They can add products to their favorite products list.
        <br />
        • They can view product details.
        <br />
        • They can complete payments for products.
        <br />
        • They can track the status of their orders.
        <br />
        For the Administrator:
        <br />
        • The administrator can manage user accounts, including updating or deleting user data.
        <br />
        • They can manage products, including adding, updating, and deleting them.
        <br />
        • They can manage product categories.
        <br />
        • They can manage orders and user payments.
        <br />
        • They can view all user orders and their statuses.
        <br />
    </div>
</div>



<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        Database relationships.
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet22.png" />
            <i>
                Figure 1 Database relationships
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet00.png" />
            <i>
                Figure 2 This is the home page for the user.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet01.png" />
            <i>
                Figure 3 This is the product listing page.
            </i>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet02.png" />
            <i>
                Figure 4 Here, I have selected the category "eBook Readers and Accessories."
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet03.png" />
            <i>
                Figure 5 I have sorted the products from the lowest price to the highest.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet04.png" />
            <i>
                Figure 6 I clicked on the "Add to Cart" button, and a message appeared confirming that the product has been successfully added
                to the cart.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet05.png" />
            <i>
                Figure 7 Cart Page
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet06.png" />
            <i>
                Figure 8 Here, we select the shipping address.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet07.png" />
            <i>
                Figure 9 Here, we select the payment method.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet08.png" />
            <i>
                Figure 10 Place Order
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet09.png" />
            <i>
                Figure 11 Manage Orders.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet10.png" />
            <i>
                Figure 12 Manage Payments
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet11.png" />
            <i>
                Figure 13 Manage Addressed
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet12.png" />
            <i>
                Figure 14 Manage Favorite Products.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet13.png" />
            <i>
                Figure 15 Profile page
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet14.png" />
            <i>
                Figure 16 This is the home page for the admin.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet15.png" />
            <i>
                Figure 17 Here is the category management page. You can change the name of a category, add a subcategory within it, or view
                all the products in this category. You can also add a product within this category.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet16.png" />
            <i>
                Figure 18 This is the product listing page.
            </i>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet17.png" />
            <i>
                Figure 19 Edit Product.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet18.png" />
            <i>
                Figure 20 Add new product
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet19.png" />
            <i>
                Figure 21 Manage users.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet20.png" />
            <i>
                Figure 22 Show all orders.
            </i>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Market DotNet
            </h2>
            <h6><i>Blazor, .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img src="projects/MarketDotNet/MarketProjectDotNet21.png" />
            <i>
                Figure 23 show order details.
            </i>
        </center>
    </div>
</div>