@inherits ProjectsContent
<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>
        <br />
        This project is divided across three servers, each serving a specific purpose:
        <br />
        1. User Server
        <br />
        The first server is dedicated to end users. It allows them to:
        <br />
        • Browse and view the latest movies, series, and listen to music.
        <br />
        • Explore categories and media collections.
        <br />
        • Save media items to a favorites list or a "watch later" list for convenience.
        <br />
        2. Admin Server
        <br />
        The second server is designed for administrative tasks, including:
        <br />
        • Managing media by adding new movies or series, editing existing ones, or deleting outdated
        <br />
        content.
        • Adding new administrators.
        <br />
        • Managing categories: adding, updating, or deleting categories.
        <br />
        • Uploading new media files, such as MP4 videos.
        <br />
        3. Media Processing Server
        <br />
        The third server is responsible for handling large media files, specifically:
        <br />
        • Uploading media files.
        <br />
        • Processing and optimizing them for delivery and playback.
        <br />
        This architecture ensures clear separation of responsibilities, improved scalability, and better
        performance across the system.
        <br />
    </div>
</div>



<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>
        Database relationships.
        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter14.png" />
            <i>
                Figure 1 Database relationships
            </i>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter00.png" />
            <i>
                Figure 2 Home page
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter01.png" />
            <i>
                Figure 3 View movie
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter02.png" />
            <i>
                Figure 4 View Details
            </i>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter03.png" />
            <i>
                Figure 5 View watch later list
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>
        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter04.png" />
            <i>
                Figure 6 Select category
            </i>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter05.png" />
            <i>
                Figure 7 Profile data
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter06.png" />
            <i>
                Figure 8 Admin home
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter07.png" />
            <i>
                Figure 9 Explore medias
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter08.png" />
            <i>
                Figure 10 Select media and upload mp4 file.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter09.png" />
            <i>
                Figure 11 Show details, delete / edit .
            </i>
        </center>
    </div>
</div>


<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter10.png" />
            <i>
                Figure 12 Edit media details.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter11.png" />
            <i>
                Figure 13 Confirm delete.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter12.png" />
            <i>
                Figure 14 Manage categories.
            </i>
        </center>
    </div>
</div>

<div class="content @(Idx==idxCounter?"contentActive":"")">
    @{
        idxCounter++;
    }
    <div>
        <center>
            <h2>
                Media Center
            </h2>
            <h6><i>MVC , .NET, and SQL Server</i></h6>
        </center>

        <center>
            <img style="height:530px;" src="projects/MediaCenterDotNet/MediaCenter13.png" />
            <i>
                Figure 15 Manage admins.
            </i>
        </center>
    </div>
</div>